<div class="jumbtron">
    <h1 class="text-center">Personas</h1>
    <div class="row">
        <div class="col-md-5">
            <div class="text-center">
                <h3>Formulario de Personas</h3>
            </div>
            <app-personas-edit></app-personas-edit>
            <br>
        </div>
        <div class="col-md-7">
            <div class="text-center">
                <h3>Lista de Personas</h3>
            </div>
            <app-personas-list></app-personas-list>
            <br>
        </div>
    </div>
</div>

